
@{
    ViewBag.Title = "FlightsPage";
}
<span>Welcome Tharun</span><br />
<span>Current Station : MAA</span>
<br /><br />
<form method="post">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Flight Model</th> 
                <th>Bay</th>
                <th>Tasks Start Time</th>
                <th>Flight Departure</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.FlightDetails)
            {
            <tr>
                <td>@item.FlightNumber</td>
                <td>@item.FlightModel</td>
                <td>@item.Bay</td>
                <td>@item.TaskStartTime AM</td>
                <td>@item.Departure AM</td>
                <td><button type="submit" name="flightNumber" class="btn btn-primary" value=@item.FlightNumber>Task Lists</button></td>
            </tr>
                    }     
            </tbody>
    </table>
</form>

