
@{
    ViewBag.Title = "TaskDetails";
}

<form method="post">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Flight Number: @ViewBag.FlightNumber <br />
                    Current Station: @ViewBag.CurrentStation
                </th>
                <th>
                    Reporting Bay: @ViewBag.Bay <br />
                    Current Time: @ViewBag.Time
                </th>
            </tr>
  
            <tr>
                <th>Task Detail</th>
                <th>Required Time to complete</th>
                <th>Start</th>
                <th>Complete</th>
            </tr>
           
        </thead>
        <tbody>
            
                @foreach (var item in ViewBag.TaskLists)
                {
                    <tr>
                        <td>@item.Task</td>
                        <td>@item.Duration Minutes</td>
                        <td>
                            <span>Ideally begins at @item.StartTime</span><br />
                        <button type="submit" name="task" class="btn btn-primary" value=@item.Task>Start</button>
                        </td>
                        <td>
                            <span>Ideally completes at @item.EndTime</span><br />
                            <button type="submit" name="task" class="btn btn-danger" value=@item.Task>Complete</button>
                        </td>
                    </tr>
                }
            
        </tbody>
    </table>
</form>

