
@{
    ViewBag.Title = "TaskDetails";
}
<script>
    window.setInterval(function () {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('timer').innerHTML = h + ":" + m + ":" + s;

    }, 1000);
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>
<form method="post">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Flight Number: @ViewBag.FlightNumber <br />
                    Current Station: @ViewBag.CurrentStation
                </th>
                <th>
                    Reporting Bay: @ViewBag.Bay <br />
                    <div>Current Time: <span id="timer"></span> </div>
                </th>
            </tr>

            <tr>
                <th>Task Detail</th>
                <th>Required Time to complete</th>
                <th>Start</th>
                <th>Complete</th>
            </tr>

        </thead>
        <tbody>

                @foreach (var item in ViewBag.TaskLists)
                {
            <tr>
                <td>@item.Task</td>
                <td>@item.Duration Minutes</td>
                @if (item.Status == "Yet To Start")
                {
                    <td>
                        <span>Starts:@item.StartTime</span><br />
                        <button type="submit" name="Start" class="btn btn-primary" value=@item.Id>Start</button>
                    </td>
                }
                @if (item.Status == "In Progress")
                {
                    <td>
                        In Progress
                    </td>
                }
                @if (item.Status == "Completed")
                {
                    <td>
                        <span>Starts:@item.StartTime</span><br />
                        <button type="submit" disabled name="Start" class="btn btn-primary" value=@item.Id>Start</button>
                    </td>
                }
                @if (item.Status == "Yet To Start")
                {
                    <td>
                        <span>Completes:@item.EndTime</span><br />
                        <button type="submit" disabled name="Complete" class="btn btn-danger" value=@item.Id>Complete</button>
                    </td>
                }
                @if (item.Status == "In Progress")
                {
                    <td>
                        <span>Completes:@item.EndTime</span><br />
                        <button type="submit" name="Complete" class="btn btn-danger" value=@item.Id>Complete</button>
                    </td>
                }
                @if (item.Status == "Completed")
                {
                    <td>
                        Completed
                    </td>
                }
            </tr>
                }

        </tbody>
    </table>
</form>

