
@{
    ViewBag.Title = "ALLTaskDetails";
}
<script>
    window.setInterval(function () {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('timer').innerHTML = h + ":" + m + ":" + s;

    }, 1000);
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>
<form method="post">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Flight Number: @ViewBag.FlightNumber <br />
                    Current Station: @ViewBag.CurrentStation
                </th>
                <th>
                    Departure Time: @ViewBag.DepartureTime <br />
                    <div>Current Time: <span id="timer"></span> </div>
                </th>
            </tr>
            <tr>
                <th>Task Detail</th>
                <th>Duration</th>
                <th>Sheduled Start</th>
                <th>Sheduled End</th>
                <th>Actual Start</th>
                <th>Actual End</th>
                <th>Status</th>
                <th>Resource Assigned</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.TaskLists)
            {
                if (item.StatusOfTask == "Yet To Start")
                {
            <tr>
                <td>@item.Task</td>
                <td>@item.Duration</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.ActualStartTime</td>
                <td>@item.ActualEndTime</td>
                <td>-</td>
                <td>Tharun</td>
            </tr>
                }
                if (item.StatusOfTask == "In Progress")
                {
            <tr bgcolor="yellow">
                <td>@item.Task</td>
                <td>@item.Duration</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.ActualStartTime</td>
                <td>@item.ActualEndTime</td>
                <td>-</td>
                <td>Tharun</td>
            </tr>
                }
                if (item.StatusOfTask == "Completed")
                {
            <tr bgcolor="green">
                <td>@item.Task</td>
                <td>@item.Duration</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.ActualStartTime</td>
                <td>@item.ActualEndTime</td>
                <td>@item.TimeDifference</td>
                <td>Tharun</td>
            </tr>
                }
            }
        </tbody>
    </table>
</form>

