
@{
    ViewBag.Title = "FlightsPage";
}
<span>Welcome @ViewBag.SuperVisorName</span><br />
<span>Current Station : MAA</span><br />
<span>Dept - @ViewBag.Department</span>
<br /><br />
<form method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Equipment Model</th>
                <th>Departure Time</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.FlightDetails)
            {
                if (item.Status == "Departed - On time")
                {
                    <tr bgcolor="green">
                        <td>@item.FlightNumber</td>
                        <td>@item.FlightModel</td>
                        <td>@item.Departure</td>
                        <td>@item.Status</td>
                        <td><button type="submit" name="flightNumber" class="btn btn-primary" value=@item.FlightNumber>View</button></td>
                    </tr>
                }
                else if (item.Status == "In Progress")
                {
                    <tr bgcolor="yellow">
                        <td>@item.FlightNumber</td>
                        <td>@item.FlightModel</td>
                        <td>@item.Departure</td>
                        <td>@item.Status</td>
                        <td><button type="submit" name="flightNumber" class="btn btn-primary" value=@item.FlightNumber>View</button></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@item.FlightNumber</td>
                        <td>@item.FlightModel</td>
                        <td>@item.Departure</td>
                        <td>@item.Status</td>
                        <td><button type="submit" name="flightNumber" class="btn btn-primary" value=@item.FlightNumber>View</button></td>
                    </tr>
                }

            }
        </tbody>
    </table>
</form>

